config SHIELD_LYNXWARE_CAT_LEFT
	def_bool $(shields_list_contains,lynxware_cat_left)

config SHIELD_LYNXWARE_CAT_RIGHT
	def_bool $(shields_list_contains,lynxware_cat_right)

config SHIELD_LYNXWARE_CAT_DONGLE
	def_bool $(shields_list_contains,lynxware_cat_dongle)
